$doc-font-size: 16;
$doc-line-height: 26;
$paragraph-indent: ture;
$base-font: 'Microsoft YaHei','Times New Roman','PT Serif', serif;
$heading-font: 'Microsoft YaHei','Times New Roman','PT Sans Narrow', sans-serif;
$code-font: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$alt-font: $base-font;